In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [42]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [43]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [44]:
# Encode categorical variables
label_encoder2_gender = LabelEncoder()
data['Gender'] = label_encoder2_gender.fit_transform(data['Gender'])

In [45]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [46]:
# One-hot encode 'Geography'
onehot_encoder2_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder2_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder2_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [47]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [48]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [49]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [50]:
## Scale these features
scaler2=StandardScaler()
X_train=scaler2.fit_transform(X_train)
X_test=scaler2.transform(X_test)

In [51]:
# Save the encoders and scaler for later use
with open('label_encoder2_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder2_gender, file)

with open('onehot_encoder2_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder2_geo, file)

with open('scaler2.pkl', 'wb') as file:
    pickle.dump(scaler2, file)

#### ANN Regression Problem statement

In [52]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [53]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

c:\Users\HP\Documents\projects\deep learning-churn prediction project\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [54]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [55]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [56]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100604.2656 - mae: 100604.2656 - val_loss: 98585.9141 - val_mae: 98585.9141
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99931.4219 - mae: 99931.4219 - val_loss: 97464.9062 - val_mae: 97464.9062
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97909.1953 - mae: 97909.1953 - val_loss: 94522.2188 - val_mae: 94522.2188
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 95585.6094 - mae: 95585.6094 - val_loss: 89458.0703 - val_mae: 89458.0703
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 88798.6484 - mae: 88798.6484 - val_loss: 82598.7734 - val_mae: 82598.7734
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 82364.0625 - mae: 82364.0625 - val_loss: 74830.1094 - val_mae: 74830.1094
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 74185.0312 - mae: 74185.0312 - val_loss: 67267.4297 - val_mae: 67267.4297
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 66635.6875 - mae: 66635.6875 - val_loss: 60900.6250 - val_mae: 60900.6250
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 59786.6445 - mae: 59786.6445 - val_loss: 56259.8320 - val_mae: 56259.8320
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 55574.0469 - mae: 55574.0469 - val_loss: 53410.1992 - val_mae: 53410.1992
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53461.2148 - mae: 53461.2148 - val_loss: 52133.2773 - val_mae: 52133.2773
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51092.0664 - mae: 51092.0664 - val_loss: 51544.4805 - val_mae: 51544.4805
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50548.9531 - mae: 50548.9531 - val_loss: 51278.2070 - val_mae: 51278.2070
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50897.5938 - mae: 50897.5938 - val_loss: 51165.5742 - val_mae: 51165.5742
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49926.7812 - mae: 49926.7812 - val_loss: 51071.0273 - val_mae: 51071.0273
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50023.0156 - mae: 50023.0156 - val_loss: 51001.3125 - val_mae: 51001.3125
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49968.1836 - mae: 49968.1836 - val_loss: 50937.0117 - val_mae: 50937.0117
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49767.0742 - mae: 49767.0742 - val_loss: 50878.0312 - val_mae: 50878.0312
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49824.5000 - mae: 49824.5000 - val_loss: 50822.2852 - val_mae: 50822.2852
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49851.0430 - mae: 49851.0430 - val_loss: 50786.8125 - val_mae: 50786.8125
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50669.2500 - mae: 50669.2500 - val_loss: 50740.3047 - val_mae: 50740.3047
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49940.9258 - mae: 49940.9258 - val_loss: 50706.0938 - val_mae: 50706.0938
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49876.2656 - mae: 49876.2656 - val_loss: 50669.1836 - val_mae: 50669.1836
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50681.9727 - mae: 50681.9727 - val_loss: 50641.1406 - val_mae: 50641.1406
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50262.8242 - mae: 50262.8242 - val_loss: 50609.6250 - val_mae: 50609.6250
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49617.4844 - mae: 49617.4844 - val_loss: 50589.3828 - val_mae: 50589.3828
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49513.2695 - mae: 49513.2695 - val_loss: 50571.3906 - val_mae: 50571.3906
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49677.9922 - mae: 49677.9922 - val_loss: 50543.7383 - val_mae: 50543.7383
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50280.6484 - mae: 50280.6484 - val_loss: 50529.4375 - val_mae: 50529.4375
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49400.1875 - mae: 49400.1875 - val_loss: 50508.9883 - val_mae: 50508.9883
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49367.7070 - mae: 49367.7070 - val_loss: 50490.7930 - val_mae: 50490.7930
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50164.2578 - mae: 50164.2578 - val_loss: 50471.8867 - val_mae: 50471.8867
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49652.2070 - mae: 49652.2070 - val_loss: 50456.7578 - val_mae: 50456.7578
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49542.3242 - mae: 49542.3242 - val_loss: 50442.8438 - val_mae: 50442.8438
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50053.4297 - mae: 50053.4297 - val_loss: 50432.9375 - val_mae: 50432.9375
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49318.4141 - mae: 49318.4141 - val_loss: 50417.5469 - val_mae: 50417.5469
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50110.7617 - mae: 50110.7617 - val_loss: 50404.3516 - val_mae: 50404.3516
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49630.1445 - mae: 49630.1445 - val_loss: 50395.4961 - val_mae: 50395.4961
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49559.8672 - mae: 49559.8672 - val_loss: 50397.6562 - val_mae: 50397.6562
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49264.3555 - mae: 49264.3555 - val_loss: 50388.0508 - val_mae: 50388.0508
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49630.2500 - mae: 49630.2500 - val_loss: 50376.9727 - val_mae: 50376.9727
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49047.6289 - mae: 49047.6289 - val_loss: 50380.9688 - val_mae: 50380.9688
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49038.5000 - mae: 49038.5000 - val_loss: 50372.8125 - val_mae: 50372.8125
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49143.7539 - mae: 49143.7539 - val_loss: 50366.7734 - val_mae: 50366.7734
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49232.3086 - mae: 49232.3086 - val_loss: 50368.1562 - val_mae: 50368.1562
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49000.5938 - mae: 49000.5938 - val_loss: 50364.8828 - val_mae: 50364.8828
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49486.5156 - mae: 49486.5156 - val_loss: 50355.2852 - val_mae: 50355.2852
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49011.1602 - mae: 49011.1602 - val_loss: 50349.0938 - val_mae: 50349.0938
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49545.6602 - mae: 49545.6602 - val_loss: 50347.6562 - val_mae: 50347.6562
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49651.4336 - mae: 49651.4336 - val_loss: 50352.2539 - val_mae: 50352.2539
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49775.3750 - mae: 49775.3750 - val_loss: 50360.3281 - val_mae: 50360.3281
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49618.0117 - mae: 49618.0117 - val_loss: 50362.4023 - val_mae: 50362.4023
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49049.1953 - mae: 49049.1953 - val_loss: 50351.6758 - val_mae: 50351.6758
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49362.0352 - mae: 49362.0352 - val_loss: 50344.2461 - val_mae: 50344.2461
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49243.8867 - mae: 49243.8867 - val_loss: 50364.5547 - val_mae: 50364.5547
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50004.2266 - mae: 50004.2266 - val_loss: 50349.2852 - val_mae: 50349.2852
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49415.6523 - mae: 49415.6523 - val_loss: 50351.5156 - val_mae: 50351.5156
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49708.2578 - mae: 49708.2578 - val_loss: 50354.0664 - val_mae: 50354.0664
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50099.7070 - mae: 50099.7070 - val_loss: 50352.3828 - val_mae: 50352.3828
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49209.1406 - mae: 49209.1406 - val_loss: 50345.7109 - val_mae: 50345.7109
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49521.7383 - mae: 49521.7383 - val_loss: 50343.9336 - val_mae: 50343.9336
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49106.9727 - mae: 49106.9727 - val_loss: 50338.6055 - val_mae: 50338.6055
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48792.4531 - mae: 48792.4531 - val_loss: 50342.5156 - val_mae: 50342.5156
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49366.5117 - mae: 49366.5117 - val_loss: 50343.9570 - val_mae: 50343.9570
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49477.6445 - mae: 49477.6445 - val_loss: 50352.3125 - val_mae: 50352.3125
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49670.6523 - mae: 49670.6523 - val_loss: 50353.6523 - val_mae: 50353.6523
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49616.7656 - mae: 49616.7656 - val_loss: 50356.1172 - val_mae: 50356.1172
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49632.3320 - mae: 49632.3320 - val_loss: 50363.0352 - val_mae: 50363.0352
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49295.2578 - mae: 49295.2578 - val_loss: 50352.5547 - val_mae: 50352.5547
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49305.3164 - mae: 49305.3164 - val_loss: 50359.9844 - val_mae: 50359.9844
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48973.3008 - mae: 48973.3008 - val_loss: 50357.8164 - val_mae: 50357.8164
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49600.5508 - mae: 49600.5508 - val_loss: 50353.2930 - val_mae: 50353.2930

In [57]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [58]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6009 (pid 28880), started 0:37:13 ago. (Use '!kill 28880' to kill it.)

In [59]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51111.3125 - mae: 51111.3125
Test MAE : 50338.60546875

In [60]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.